*{
    padding: 0;
    margin: 0;
}

.header{
    display: inline-flex;
    padding: 20px 25%;
    
}

.header img{
    width: 80px;
    height: 80px;
}

.text-group{
    padding:  0;
    margin: 0;
}

.amarillo{
    color: rgb(172, 172, 19);
}

.navbar{
    color: white;
    display: inline-flex;
    width: 100%;
    background-color: rgb(18, 18, 155);
    box-shadow: 
    inset 2px 2px 5px rgba(255, 255, 255, 0.7), /* Luz en la parte superior/izquierda */
    inset -2px -2px 5px rgba(0, 0, 0, 0.3);      /* Sombra en la parte inferior/derecha */
}

.navbar ul{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding: 8px 10%;
}